/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTRUCTURA PARA ANCLAR EL FOOTER */
html, body {
    height: 100%; /* Necesario para calcular el fondo de la pantalla */
}

body {
    display: flex;
    flex-direction: column; /* Organiza el contenido en vertical */
}

.content {
    flex: 1; /* Esto empuja al footer hacia abajo automáticamente */
    padding: 20px;
    text-align: center;
}

/* ESTILOS DEL FOOTER */
.main-footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 10px 0 5x 0;
    font-family: sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 15px;
    min-width: 200px;
}

.footer-section h3, .footer-section h4 {
    color: #f39c12;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li a {
    color: #bbb;
    text-decoration: none;
}

.social-links a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    background: #444;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #111;
    font-size: 13px;
    color: #666;
}